html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

/* component and layout */

body{
    margin: 0 auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color:black;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.site-wrapper {
    padding:1em;
    border : 1px solid rgb(0, 0, 0);
    position: relative;
    margin: 0 auto;
    height: 760px;
    width: 1440px

}

section {
    /* margin: 2rem auto; */
    /* padding: 1em; */
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    /* max-width: 1410px;   */
    /* height: 100% */

}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}


h1,
h2,
h3,
h4,
h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1em;
    margin: 0;
}

img {
    display: block;
}

.start-section {
    text-align: center;
    margin: 3rem auto;
    width: 40rem;
    height:35rem;
    text-align: center;
}

.start-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: 1px solid black;
    margin: 1rem;
    height: 2rem; 
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.start img{
    margin-bottom: 1rem;
}

/* message box */
.loading-box {
    border: 1px solid black;
    position: absolute;   
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
    padding: 0.1rem 1rem;
}


/* Game wrapper - layout grid */

.board {
    margin: 1rem;
}

.game-wrapper {
    display: grid;
    grid-template-columns: 1fr 110px 100px 480px 100px 110px 1fr;
    grid-template-rows: 280px 20px 45px 45px 20px 280px;
    column-gap: 2em;
}

.board.dealer { 
    grid-column: 3 / span 3;
    display: flex;
    flex-direction: column;
}

.cards-container {
    width: 448px;
    height: 180px;
}

.sum-box.dealer {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    justify-content: right;}

/* Hit & Stand buttons   */
.table {
    display:block; 
    grid-column: 4;
    grid-row: 3 / span 2;
}

.table-btn-wrapper {   
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.table-btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
    cursor: pointer;
    visibility: hidden;

}


.table-btn.hit.activated,
.table-btn.stand.activated {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.3s ease, visibility 0s ;

}



.sum-box.player {
    grid-column: 3;
    grid-row: 5;
    display: grid;
    justify-content: right;

}

.board.player {
    grid-column: 3 / span 3;
    grid-row: 6;
}


.restart-section {
    width: 40rem;
    height:10rem;
    position: absolute;
    top: 40%;
    left: 27.7%;
    padding: 2.5rem;
    text-align: center;
    display: none;

}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game {
    display:none;
    position: relative;
}


footer {
    text-align: center;
    bottom: 0; 
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

footer p {
    margin: 0.4rem 0;
}