html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

/* component and layout */

body{
    margin: 0 auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color:black;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.site-wrapper {
    padding: 2em 1em;
    border : 1px solid rgb(0, 0, 0);
    position: relative;
    margin: 0 auto;
    height: 760px;
    width: 1440px

}

section {
    /* margin: 2rem auto; */
    /* padding: 1em; */
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    /* max-width: 1410px;   */
    /* height: 100% */

}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}


h1,
h2,
h3,
h4,
h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1em;
    margin: 0;
}

img {
    display: block;
}

.start-section {
    text-align: center;
    margin: 3rem auto;
    width: 40rem;
    height:35rem;
    text-align: center;
}

.start-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background-color: transparent;
    border: 1px solid black;
    margin: 1rem;
    height: 2rem; 
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.start img{
    margin-bottom: 1rem;
}

/* message box */
.loading-box {
    border: 1px solid black;
    position: absolute;   
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
    padding: 0.1rem 1rem;
}


/* Game wrapper - layout grid */

.board {
    margin: 1rem;
}

.game-wrapper {
    display: grid;
    grid-template-columns: 1fr 110px 100px 480px 100px 110px 1fr;
    grid-template-rows: 280px 20px 45px 45px 20px 280px;
    column-gap: 2em;
}

.board.dealer { 
    grid-column: 3 / span 3;
    display: flex;
    flex-direction: column;
}

.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.cards-container div:not(:first-child){
    margin-left: -86px;
}

/* .cards-container div:not(:first-child)  {
    margin-left: -86px;
    z-index: 1;
} */


.sum-box.dealer {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    justify-content: right;}

/* Hit & Stand buttons   */
.table {
    display:block; 
    grid-column: 4;
    grid-row: 3 / span 2;
}

.table-btn-wrapper {   
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.table-btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
    cursor: pointer;
    visibility: hidden;

}


.table-btn.hit.activated,
.table-btn.stand.activated {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.3s ease, visibility 0s ;

}



.sum-box.player {
    grid-column: 3;
    grid-row: 5;
    display: grid;
    justify-content: right;

}

.board.player {
    grid-column: 3 / span 3;
    grid-row: 6;
}


.restart-section {
    width: 25rem;
    height: 10rem;
    position: absolute;
    top: 38%;
    left: 516px;
    padding: 2.5rem;
    text-align: center;
    display: none;
    z-index: 5;
    


}

.message-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}


.game {
    display:none;
    position: relative;
}

/* Card styling */
.card {
    border: 1px solid black;
    border-radius: 5px;
    width: 160px;
    height: 240px;
    background-color: #f1f1f1;
    margin: 10px;
    font-size: 1.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}


.red {
    color: red;
}

.black{
    color: black;
}

.card-face {
    height: 100%;
    width: 100%;
  } 

.card-front {
    position: relative;
    display: block;
  }

.top-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -3px;
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;

  }

.top-left .card-suit {
    margin-top: -13px;
    padding-left: 89px;
}

.center-value {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 195px;


  }

.card-back {
    /* display: none; */
    border: 1px solid black;
    border-radius: 5px;
    width: 160px;
    height: 240px;
    padding: .5rem;
    background-color: #f8f8f8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23bc0b06' fill-opacity='0.97' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 25%;
    /* display: block; */
    position: absolute;
    top: 26px;
    display:none;
}

.cards-container.dealer:first-child.card-back {
    display: block;
}

.container > p {
	background-color: white;
	color: black;
}


.cards-container.dealer div:first-child .card-back {
    display: block;
}


.dealer .active div:first-child .card-back {
    display: none;
}
footer {
    text-align: center;
    bottom: 0; 
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

footer p {
    margin: 0.3rem 0;
}