@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Fredericka+the+Great&family=Mynerve&family=Pangolin&family=Rubik+Burned&family=Rubik+Distressed&family=Share+Tech+Mono&family=Victor+Mono:wght@300&display=swap');

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;
  }

/* component and layout */

body{
    margin: 0 auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color:black;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    --game-ui-font: 'Mynerve',fantasy, serif;
    --game-ui-msg-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --primary-bg-color: #fbfbdf;
    --second-bg-color: #a0c08c;
}

.site-wrapper {
    padding: 2em 1em;
    border : 1px solid rgb(0, 0, 0);
    position: relative;
    margin: 0 auto;
    height: 760px; 
    width: 1440px;
    background: #8eb477d6;

}

/* section {
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    background-color: var(--primary-bg-color);
    /* max-width: 1410px;   */
    /* height: 100% */

} */

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid black;
}


h1,
h2,
h3,
h4,
h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 1em;
    margin: 0;
}

img {
    display: block;
}

.btn {
    background-color: transparent;
    border: 1px solid black;
    margin: 1rem;
    height: 2rem; 
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.start-section {
    text-align: center;
    margin: 3rem auto;
    width: 40rem;
    height:35rem;
    text-align: center;
}

.start-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:64px;
}

.start-box h1 {
    font-family: Rubik Burned;
    font-size: 78px;
    margin-bottom: 1.2rem;

}


.start-box img{
    margin-bottom: 1rem;
    width: 30%;
    transform: rotate(32deg);
    margin-right: 18px;
}

.start-box .btn {
    width: 9rem;
    height: 3rem;
    border-radius: 7%;
    outline-style: double;
    border: 2px dotted #0a0b0a;
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(45deg, #d9d5d5 0, #fffcfc 1px, #ffffff 0, #ffffff 60%);
    font-family: Rubik distressed;
    font-size: 23px;
    text-transform: uppercase;
}

.start-box .btn:hover, 
.start-box .btn:checked {
    background-image: repeating-linear-gradient(45deg, #d9d5d5 0, #fffcfc 1px, #ffffff 0, orange 60%);
    outline-width: thick;

} 

.loading-box {
    border: 1px solid black;
    position: absolute;   
    top: 50%;
    transform: translate(50%, -50%);
    right: 50%;
    padding: 0.1rem 1rem;
}


/* Game wrapper - layout grid */

.board {
    margin: 1rem;
}
.game {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
    background-color: var(--primary-bg-color);
}

.game-wrapper {
    display: grid;
    grid-template-columns: 1fr 110px 100px 480px 100px 110px 1fr;
    grid-template-rows: 264px 20px 45px 45px 20px 280px;
    column-gap: 5px;
    background-color: var(--primary-bg-color);
    border-radius: 10px;
}

.board.dealer { 
    grid-column: 3 / span 3;
    display: flex;
    flex-direction: column;
}

.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.cards-container.player {
    align-content: flex-end;
}

.cards-container div:not(:first-child){
    margin-left: -86px;
}

/* .cards-container div:not(:first-child)  {
    margin-left: -86px;
    z-index: 1;
} */


.sum-box.dealer {
    grid-column: 2 /span 2;
    grid-row: 2;
    display: grid;
    justify-content: right;}

/* Hit & Stand buttons   */
.table {
    display:block; 
    grid-column: 4;
    grid-row: 3 / span 2;
}

.table-btn-wrapper {   
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.table-btn {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    /* outline-width: thick; */
    outline-style: double;
    border: 2px dotted #0a0b0a;
    background-color: #ffffff;
    opacity: 1;
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(45deg, #e9e6e6 0, #fffcfc 1px, #ffffff 0, #ffffff 60%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .3rem;
    cursor: pointer;
    visibility: hidden;
    font-family: var(--game-ui-font);
    font-weight: bolder;

}


.table-btn.hit.activated,
.table-btn.stand.activated {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.3s ease, visibility 0s ;

}



.sum-box.player {
    grid-column: 2 /span 2;
    grid-row: 5;
    display: grid;
    justify-content: right;

}

.board.player {
    grid-column: 3 / span 3;
    grid-row: 6;
}


.restart-section {
    position: absolute;
    top: 34%;
    left: 516px;
    padding: 2.5rem;
    text-align: center;
    display: none;
    z-index: 5;
    


}

.message-box {
    width: 24rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-family: Share Tech Mono;
    border: 2px black solid;
    border-radius: 5px;
    background-color: var(--second-bg-color);
}

.message-box div:not(:last-child) {
    font-size:1.5rem;
}

.message-box .btn {

    width: 7rem;
    height: 2.8rem;
    border-radius: 7%;
    outline-style: double;
    border: 2px dotted #0a0b0a;
    background-size: 5px 5px;
    background-image: repeating-linear-gradient(45deg, #d9d5d5 0, #fffcfc 1px, #ffffff 0, #ffffff 60%);
    font-family: Rubik distressed;
    font-size: 18px;
    text-transform: uppercase;
    
}

.message-box .btn:hover, 
.message-box .btn:checked {
    background-image: repeating-linear-gradient(45deg, #d9d5d5 0, #fffcfc 1px, #ffffff 0, orange 60%);
    outline-width: thick;

} 

.game {
    display:none;
    position: relative;
}

/* Sum box styling */
.sum-box p {
    font-family: var(--game-ui-font);
    font-size: 1.4rem;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.8rem;
    
    width: 129%;    
    background-color: black;
    color: white;
    font-size: 1.4rem;

}
.table-btn {
    /* background-color: rgb(19, 19, 19);
    color: white; */
    background-image: url(background-color: #ffffff;
    opacity: 0.5;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #c4c4c4 0, #c4c4c4 1px, #ffffff 0, #ffffff 50%););
}

.table-btn:hover {
    outline-width: thick;
    
}
.table-btn p:hover {
    font-size: 1.7rem;
    line-height: 3;


}

.table-btn p {
    font-size: 1.4rem;   
    width:80px;
    height: 80px;
    line-height: 3.5;
    text-transform: uppercase;

}




/* sum box ends */

/* Card styling */
.card {
    border: 1.5px solid black;
    border-radius: 5px;
    width: 160px;
    height: 240px;
    background-color: #f1f1f1;
    margin: 10px;
    font-size: 1.3rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 6px 3px 8px 0 rgba(0, 0, 0, 0.2), 8px 3px 5px 0 rgba(0, 0, 0, 0.19);
    display: block;
}


.red {
    color: red;
}

.black{
    color: black;
}

.card-face {
    height: 100%;
    width: 100%;
  } 

.card-front {
    position: relative;
    display: block;
  }

.top-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -3px;
    left: 5px;
    font-size: 4rem;
    font-family: 'Fredericka the Great';
    font-weight: 600;
    text-transform: uppercase;

  }

.top-left .card-suit {
    margin-top: -23px;
    padding-left: 89px;
        font-family: Georgia, monospace, 'Times New Roman', Times, serif, serif;

}

.center-value {
    position: absolute;
    top: 72%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 8.8rem;
    font-weight: bold;
    font-family: 'Fredericka the Great';

    padding-left: 195px;
  }

  .center-value .card-suit {
    display: inline-block;
    /* font-size: 32px; */ 
    transform: scale(1.2, 1);
  }

.card-back {
    /* display: none; */
    border: 1px solid black;
    border-radius: 5px;
    width: 160px;
    height: 240px;
    padding: .5rem;
    background-color: #f8f8f8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23bc0b06' fill-opacity='0.97' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 25%;
    /* display: block; */
    position: absolute;
    top: 26px;
    display:none;
}

.cards-container.dealer:first-child.card-back {
    display: block;
}

.container > p {
	background-color: white;
	color: black;
}


.cards-container.dealer div:first-child .card-back {
    display: block;
}


.dealer .active div:first-child .card-back {
    display: none;
}

/* card styling ends */


footer {
    text-align: center;
    bottom: 0; 
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

footer p {
    margin: 0.3rem 0 1rem;
}